.first 
{
    color: rgb(145, 0, 0); display: block;
}

.second 
{
    color: rgb(121, 54, 0); display: inline;
}

.tree
{
    color: rgb(1, 92, 16); display: inline-block;
}



.menu
{
    position: relative; left: 30%;
    display: inline-block;
    background: rgb(123, 211, 170);
    color: white;
    text-decoration: none;
    padding: 15px;
    margin-right: 8px;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.3s;
    
}
.menu a:hover 
{
    background:rgb(210, 255, 213);
    padding: 8px;
    border-radius: 50px;
    margin-right: 8px;
    font-weight: bold;
    transition: 0.3s;
    border-left: 5px dashed rgb(0, 0, 0);
    border-bottom: 5px dashed rgb(97, 97, 97);
}
.fixed-heder
{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    background: #2563ed;
    color: whie;
    padding: 10px;
    font-weight: bold;
}

.scroll-top
{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #7113c4;
    color: white;
    border: none;
    padding: 12px 16px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
}



.tag
{
    background: rgb(255, 255, 255);
    color: black;
    padding: 20px;
    padding-left: 50px;
    border-radius: 20px;
    padding-bottom: 20px;
}

.box
{
    width: 150px;
    height: 80 px;
    margin: 10px;
    padding-left: 30px;
    border-radius: 20px;
    background: lightgreen;
    border: 2px solid green;
    color: black;

    position: relative;
    top: 20 px;
    left: 30 px;
}



.parent
{
    position: relative;
    width: 200px;
    height: 200px;
    background: lightblue;
    color: black;
    margin: 30px;
}

.child
{
    position: absolute;
    bottom: 0;
    right: 0;
    background: coral;
    color: black;
}



.row { position: relative; display: flex; gap: 12px; } 
.box1 { width: 80px; height: 80px; background: #e2e8f0; border: 2px solid #94a3b8; color:rgb(0, 0, 0); }
.abs { position: absolute; top: 40px; left: 50px; }



.card {
    position: relative;
    width: 260px; padding: 16px; margin: 75px;
    background: #F8FAFC; border: 2px solid #cbd5e1; border-radius: 10px; color: black;
}
.card-button {
    padding: 10px 15px;
    background-color: #126e29;
    color: #fff;
    border-radius: 5px;
}
.card-button:hover
{
    background-color: #000000;
}

.badge
{
    position: absolute; top: 10px; right: 10px; 
    padding: 4px 8px;
    background: #ef4444; color: #fff; border-radius:9999px;
}



.stage
{
    position: relative;
    width: 360px; height: 220px;
    margin: 24px auto; background:#fff7ed;
}
.modual
{
    position: absolute; top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    background:#bd3311; color: #fff;
}



.window
{
    position: absolute;
    top: 50px; left: 50px;
    width: 200px; height: 100px;
    background: white;
    border: 2px solid black;
    z-index: 10;
}

.background
{
    position: absolute;
    top:0; left:0;
    width: 100%; height: 100%;
    background: lightblue;
    z-index: 1;
}